<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="OrganizationLoggerAppender" type="log4net.Appender.RollingFileAppender">
            <file value="logs/" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <maximumFileSize value="1024KB" />
            <datePattern value="yyyy-MM-dd\.\t\x\t" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %newline %message%newline" />
            </layout>
        </appender>
        <logger name="Johnson_Process_logger">
            <level value="INFO"></level>
            <appender-ref ref="OrganizationLoggerAppender"></appender-ref>
        </logger>
    </log4net>
  <appSettings >
    <add key="GZJohnsonProcess_ConnectionString" value="server=(local)\sqlexpress;database=GZJohnsonProcess ;uid=sa;pwd=love00"/>
    <add key="FailPdct_ConnectionString" value="server=(local)\sqlexpress;database=GZJohnsonProcess ;uid=sa;pwd=love00"/>
    <add key="JohnsonProcessPath" value="~/"/>
    <add key="tempFolderId" value="44"/>
      <add key="edoc2BaseUrl" value="http://192.168.1.145/edoc2v4"/>
      <add key="ultimusDomain" value="wutao-2600421c2"/>
      <add key="marketingEngineerGroupId" value="10"/>
      <add key="TempFolderAdminUserId" value="2"/>
  </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        -->

        <customErrors mode="Off"></customErrors>
    </system.web>

</configuration>
