<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="LoggerAppender" type="log4net.Appender.RollingFileAppender">
            <file value="logs/" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <maximumFileSize value="1024KB" />
            <datePattern value="yyyy-MM-dd\.\t\x\t" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %newline %message%newline" />
            </layout>
        </appender>
        <logger name="Johnson_Process_logger">
            <level value="INFO"></level>
            <appender-ref ref="LoggerAppender"></appender-ref>
        </logger>
    </log4net>
    <appSettings >
        <add key="GZJohnsonProcess_ConnectionString" value="server=(local)\sqlexpress;database=GZJohnsonProcess ;uid=sa;pwd=love00"/>
        <add key="ultimusDomain" value="wutao-2600421c2"/>
        <add key="edoc2BaseUrl" value="http://192.168.1.145/edoc2v4"/>
    </appSettings>
</configuration>